<div class="mb-10">
  <h1 class="flex items-center gap-2 text-2xl font-bold mb-4">Your Blogs</h1>

  <%= render 'shared/posts', posts: @current_user_posts %>
</div>
<div>
  <h1 class="flex items-center gap-2 text-2xl font-bold mb-4">Other Blogs</h1>

  <%= render 'shared/posts', posts: @posts %>
</div>